// Цвета
$primary-color: #ff93d4;
$secondary-color: #7d2e5d;
$background-color: white;

// Шрифты
$font-stack: 'Helvetica Neue', sans-serif;
$heading-font: 'Arial', sans-serif;

// Размеры
$base-font-size: 1.6em;
$heading-font-size: 2.9em;